.transaction_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.transaction_container_left{
    width: 25%;
}
.transaction_container_right{
    width: 75%;
}

.crypto_name_container{
    display: flex;
    align-items: center;
    border: 2px solid white;
    background-color: orange;
    width: 200px;
    height: 75px;
}

.crypto_name_text {
    width: 100%;
    height: 100%;
    background-color: brown;
}
