.pageContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.cryptoInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-size: 40px;
}

.purchaseOrSell {
  display: flex;
  flex-direction: row;
}

.graph {
  margin-left: 7%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 350px;
  width: 50%;
}

.sell {
  display: flex;
  margin-left: 20px;
}

.amount {
  display: flex;
  margin-left: 20px;
  height: 18px;
}

.hr {
  display: flex;
  width: 50%;
  margin-left: 10%;
  border: 0.5px solid gray;
}

.aboutContainer {
  margin-left: 10%;
  margin-top: 10px;
  width: 800px;
}

.graphHistorySelect {
  display: flex;
}

.graphButtonContainer {
  display: flex;
  margin-left: 10%;
  gap: 15px;
}

.graphButtonContainer > * {
  background: none;
  border: none;
  color: white;
  font-family: "Microsoft Sans Serif";
  font-weight: bold;
  font-size: 16px;
}

.hisButt:hover {
  color: orangered;
}

.about {
  margin-left: 10%;
  font-family: "Microsoft Sans Serif";
  font-weight: bold;
  font-size: 30px;
  margin-top: 25px;
}

.submitButt {
  font-family: "Microsoft Sans Serif";
  text-align: center;
  height: 48px;
  width: 147.5px;
  background-color: #ff5000;
  color: #2a2f33;
  font-weight: 600;
  border: 1px solid #ff5000;
  border-radius: 4px;
  cursor: pointer;
  padding: none !important;
}

.submitButt:hover {
    background-color: #FF6A26;
}

.subButtContainer {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

.buy-form {
 width: 800px;
 display: flex;
 flex-direction: column;
}

.errors {
  margin-top: 0px;
}

.add-to-list {
  font-family: "Microsoft Sans Serif";
  text-align: center;
  height: 48px;
  width: 138px;
  background-color: #2a2f33;
  color: #ff5000;
  border: 1px solid #ff5000;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-list:hover {
  background-color: #331000;
}

.estValue {
  margin-left: 1%;
  font-weight: bold;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.formContainer {
  background-color: rgb(42, 47, 51);
  border: 0.5px solid grey;
  margin-left: 10%;
  margin-top: 10px;
  width: calc(45% - 38px);
  height: 100px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 20px;
  gap: 20px;
  justify-content: space-between;
}

.purchasePower {
  margin-top: 5px;
  margin-left: 10px;
}
