.pageContainer {
    display: flex;
    flex-direction: column;
}

.cryptoInfoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-size: 40px;
}

.purchaseOrSell {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 5px;
}

.graph {
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom:10px;
    border: 2px solid white;
    height: 350px;
    width: 50%;
}

.sell {
    display: flex;
    margin-left: 20px;
}

.amount {
    diplay: flex;
    margin-left: 20px;
}

.hr {
    display: flex;
    width: 50%;
    margin-left: 10%;
    border: 0.5px solid gray;
}

.aboutContainer {
    margin-left: 10%;
    margin-top: 10px;
    width: 800px;
}

.graphHistorySelect {
    display: flex;
}

.graphButtonContainer {
    display: flex;
    margin-left: 10%;
    gap: 15px;
}

.graphButtonContainer > * {
    background: none;
    border: none;
    color: white;
    font-family: "Microsoft Sans Serif";
    font-weight: bold;
    font-size: 16px;
}

.hisButt:hover {
    color: orangered;
}

.about {
    margin-left: 10%;
    font-family: "Microsoft Sans Serif";
    font-weight: bold;
    font-size: 30px;
    margin-top: 25px;
}

.submitButt {
    width: 55px;
    text-align: center;
    font-family: "Microsoft Sans Serif";
}

.subButtContainer {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.errors {
    margin-top: 0px;
}

.add_to_list {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-top: 0px;
    margin-left: 10px;
}

.add-to-list {
    font-family: "Microsoft Sans Serif";
    text-align: center;

}

.estValue {
    margin-left: 1%;
    font-weight: bold;
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.formContainer {
    background-color: rgb(34, 34, 34);
    margin-left: 10%;
    margin-top: 10px;
    width: 50%;
    height: 110px;
    border-radius: 5px;
}

.purchasePower {
    margin-top: 5px;
    margin-left: 10px;
}
