.add-funds-main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(16, 10, 32) !important;
  animation: move-it 500ms linear;
}

.add-close {
  padding-top: 2%;
  margin-left: 96%;
  font-size: 24px;
  cursor: pointer;
}

.add-error {
  color: red;
}

.add-form {
  margin-left: 36vw;
  margin-top: 10vh;
}

.add-title {
  font-weight: 500;
}

.add-input {
  padding: 0 13px;
  height: 36px;
  width: 354px;
  color: white;
  background-color: #241E33;
  border: none;
  border-radius: 4px;
}

.add-input:focus {
  outline: none;
}

.add-input:hover {
  background-color: rgb(16, 10, 32);
  outline: 1px solid #383345;
}

.add-inpt {
  display: flex;
  gap: 50px;
  align-items: center;
}

@keyframes move-it {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
