.add-funds-main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(16, 10, 32) !important;
  animation: move-it 500ms linear;
}

.add-close {
  padding-top: 2%;
  margin-left: 96%;
  font-size: 24px;
  cursor: pointer;
}

.add-form {
  margin: 0 auto !important;
}

.add-input:focus {
  outline: none;
}

@keyframes move-it {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
