.nav-main {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 0 10px 0;
  align-items: center;
  background-color: black;
  z-index: 100;
}

.nav-coin-auth {
  height: 38px;
  width: 38px;
  align-self: center;
  margin-left: 60px;
  cursor: pointer;
  user-select: none;
}

.search-container {
  position: relative;
  width: 476px;
  flex: 0 0 10%;
  margin: 0 auto;
}

.search-bar {
  cursor: text;
  margin: 0em;
  height: 1.5rem;
  background-color: black;
  color: rgba(225, 217, 209, 1);
  font-family: inherit;
  border: 0.5px solid grey;
  outline: grey;
  width: 436px;
  height: 34px;
  padding: 1px 20px 1px 20px;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-bar:focus,
.search-bar:hover {
  background-color: rgb(30, 33, 36);
}

.search-bar:focus {
  border-bottom: none;
  background-color: rgb(30, 33, 36) !important;
}

.search-results {
  position: absolute;
  background-color: rgb(30, 33, 36);
  width: inherit;
  overflow: hidden;
  border-top: 0 !important;
  border: 0.5px solid grey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  padding: 20px 0;
}

.right-nav {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  gap: 20px;
}

.result {
  display: flex;
  padding: 5px 20px;
  margin: 0;
  cursor: pointer;
}

.result-symbol {
  width: 120px;
}

.result:hover {
  background-color: rgb(48, 54, 58);
}

.no-result {
  display: flex;
  gap: 60px;
  padding: 5px 20px;
  margin: 0;
}

span {
  display: inline-block;
  border: 0;
  margin: 0;
  color: rgb(255, 80, 0);
}

.account-dropdown {
  position: absolute;
  background-color: rgb(30, 33, 36);
  width: 284px;
  overflow: hidden;
  border: 0.5px solid grey;
  border-radius: 4px;
  font-size: 14px;
  right: 0;
  text-align: left;
  margin-right: 50px;
  margin-top: 10px;
  z-index: 5;
}

.account-word {
  font-weight: 600;
  cursor: pointer;
  text-underline-offset: 10.5px;
  text-decoration-color: rgb(255, 80, 0) !important;
  text-decoration-thickness: 2px !important;
  user-select: none;
}

.account-word:hover {
  color: rgb(255, 80, 0) !important;
}

.account-name {
  margin: 10px 20px 10px 20px;
  font-size: 15px;
  font-weight: 600;
}

.portfolio-details {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 10px 20px;
}

.portfolio-details h3 {
  margin: 0;
  font-size: 14px;
  margin-bottom: 5px;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
}

.avail-cash {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.porfolio-value {
  font-size: 14px;
  border-bottom: 1px solid rgb(240, 231, 231);
}

.account-links {
  border-top: 0.5px solid grey;
}

.settings-img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.account-link {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.account-link:hover,
.account-logout:hover {
  background-color: rgb(48, 54, 58);
}

.account-logout {
  padding: 10px 20px;
  border-top: 0.5px solid grey;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout-img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.nav-messages:hover {
  color: rgb(255, 80, 0);
}
