.nav-main {
  display: flex;
  width: 100%;
  position: sticky;
  margin: 20px 0 20px 0;
}

.search-container {
  position: relative;
  width: 476px;
  flex: 0 0 10%;
}

.search-bar {
  cursor: text;
  margin: 0em;
  border-width: 2px;
  border-style: inset;
  height: 1.5rem;
  background-color: black;
  color: rgba(225, 217, 209, 1);
  font-family: inherit;
  border: 0.5px solid grey;
  outline: grey;
  width: 452px;
  height: 34px;
  padding: 1px 12px 1px 12px;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.search-bar:focus,
.search-bar:hover {
  background-color: rgb(42, 47, 51);
}

.search-bar:focus {
  border-bottom: none;
}

.search-results {
  position: absolute;
  background-color: rgb(42, 47, 51);
  left: 0;
  width: inherit;
  padding: 20px 0;
  overflow: hidden;
  border-top: 0 !important;
  border: 0.5px solid grey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
}

.right-nav {
  display: flex;
  margin-left: auto;
}

.result {
  display: flex;
  gap: 60px;
  margin: 5px 20px;
}

span {
  display: inline-block;
  border: 0;
  margin: 0;
  color: rgb(255, 80, 0);
}
