.signup-main {
  background-color: white;
  height: 100vh;
  color: black;
  padding-left: 8vw;
  padding-top: 50px;
}

.signup-left {
  width: 55%;
}

.signup-logo {
  max-height: 200px;
  width: 142px;
  margin-bottom: 75px;
  user-select: none;
}

.signup-main input {
  width: 650px;
  height: 36px;
  background-color: #f5f8fa;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
}

.signup-main input:focus {
  outline: rgb(119, 126, 196) solid 0.5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.signup-text {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.signup-text-again {
  margin-bottom: 30px;
}

.signup-label {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 15px;
}

.signup-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signup-button {
  width: 150px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: rgb(119, 126, 196);
  color: white;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.signup-button:hover {
  background-color: rgb(62, 67, 112);
  color: white;
}

.signup-btn-login {
  padding: 5px 5px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
}

.signup-btn-login p {
  margin: 0;
}

.signup-login {
  margin-top: 5px;
  color: rgb(62, 67, 112);
  font-weight: 700;
}
