.watch-main {
  border: 0.5px solid grey;
  height: 80vh;
  width: 276px;
  background-color: rgb(30,33,36);
  border-radius: 6px;
  overflow-y: auto;
  overflow-x: none;
  word-break: break-all;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 0;
}

.watch-main::-webkit-scrollbar {
  display: none;
}

.watch-cryptos {
  padding: 15px 20px;
  font-weight: 600;
  border-bottom: 0.5px solid grey;
}

.watch-crypto {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid grey;
}

.watch-crypto-card:hover {
  background-color: rgb(48,54,58);
}

.watch-crypto-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 20px;
}

.watch-crypto-card-left {
  display: flex;
  flex-direction: column;
}

.watch-crypto-card-right {
  text-align: right;
  align-self: flex-end;
}

.watch-crypto-name {
  margin-bottom: 3px;
}

.watch-list {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 0.5px solid grey;
}

.watch-list-right {
  margin-bottom: 20px;
  font-size: 24px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  user-select: none;
}

.watch-list-right:hover {
  color: rgb(255, 80, 0);
}

.create-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.list-input {
  cursor: text;
  margin: 0em;
  height: 1.5rem;
  color: white;
  font-family: inherit;
  border: 0.5px solid grey;
  background-color: rgb(48,54,58);
  outline: grey;
  width: 160px;
  height: 34px;
  padding: 1px 20px 1px 20px;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-input:focus,
.list-input:hover {
  background-color: inherit;
}

.list-input:focus {
  border: 0.5px solid rgb(255, 80, 0);
}

.list-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 200px;
}

.list-cancel {
  margin-right: 5px;
  height: 36px;
  width: 96px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: 0.5px solid rgb(255, 80, 0);
  color: rgb(255, 80, 0);
  background-color: rgb(30,33,36);
  border-radius: 4px;
  font-weight: 600;
}

.list-cancel:hover {
  background-color: rgb(75,42,29);
}

.list-submit {
  height: 36px;
  width: 112px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(255, 80, 0);
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  color: rgb(48, 48, 48);
}

.list-submit:hover {
  background-color: rgb(255,106,38);
}

.watchlist-card {
  display: flex;
  flex-direction: column;
}

.watchlist-details {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer;
  align-items: center;
}

.watchlist-details:hover {
  background-color: rgb(48,54,58);
}

.watchlist-details:hover .watchlist-options {
  background-color: rgb(48,54,58);
  display: flex !important;
}

.watchlist-open {
  font-size: 14px;
  user-select: none;
}

.watchlist-open:hover {
  color: rgb(255, 80, 0);
}

.watchlist-details-right {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.watchlist-options {
  margin-top: -12px;
  font-size: 24px;
  display: none;
  text-underline-offset: 5px;
  user-select: none;
}

.watchlist-options:hover {
  color: rgb(255, 80, 0) !important;
}

.watchlist-dropdown {
  position: absolute;
  background-color: rgb(30,33,36);
  width: 168px;
  height: 180px;
  border-radius: 4px;
  font-size: 14px;
  right: 0;
  text-align: left;
  margin-right: 40px;
  margin-top: 3px;
  box-shadow: 0px 12px 24px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.watchlist-cryptos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  cursor: pointer;
}

.watchlist-cryptos:hover {
  background-color: rgb(48,54,58);
}

.watchlist-crypto-name {
  font-size: 14px;
  font-weight: 600;
}

.watchlist-crypto-right {
  text-align: right !important;
  font-size: 14px;
}

.watchlist-text {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  user-select: none;
}

.watchlist-text:hover,
.watchlist-text-2:hover {
  color: rgb(255, 80, 0) !important;
}

.list-settings-img {
  height: 25px;
  width: 25px;
  user-select: none;
}

.watchlist-text-2 {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  user-select: none;
}

.watchlist-text-2-confirmation {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  cursor: default;
}

.list-del-btns {
  display: flex;
  font-size: 14px;
  gap: 10px;
}

.list-del-yes {
  height: 36px;
  cursor: pointer;
  background-color: rgb(255, 80, 0);
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  color: rgb(48, 48, 48);
  font-size: 14px;
  width: 40px;
  text-align: center;
}

.list-del-no {
  height: 36px;
  cursor: pointer;
  outline: none;
  border: 0.5px solid rgb(255, 80, 0);
  color: rgb(255, 80, 0);
  background-color: rgb(48,54,58);
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  width: 40px;
  font-size: 14px;
}

.list-drp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hidden {
  display: none !important;
}

.edit-watchlist-main {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  cursor: default;
}

.watchlist-edit-input {
  cursor: text;
  margin: 0em;
  height: 1.5rem;
  color: white;
  font-family: inherit;
  border: 0.5px solid grey;
  background-color: rgb(48,54,58) !important;
  outline: grey;
  width: 120px;
  height: 34px;
  padding: 1px 10px 1px 10px;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.watchlist-edit-input:hover,
.watchlist-edit-input:focus {
  background-color: inherit !important;
}

.edit-watchlist-main {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  cursor: default;
}

.edit-btns {
  display: flex;
  font-size: 14px;
  gap: 10px;
}

.list-edit-yes {
  height: 36px;
  cursor: pointer;
  background-color: rgb(255, 80, 0);
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  color: rgb(48, 48, 48);
  font-size: 14px;
  width: 70px;
  text-align: center;
}

.list-edit-no {
  height: 36px;
  cursor: pointer;
  outline: none;
  border: 0.5px solid rgb(255, 80, 0);
  color: rgb(255, 80, 0);
  background-color: rgb(48,54,58);
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  width: 60px;
  font-size: 14px;
}

.red {
  color: red
}

.green {
  color: green
}
